{% load static %}
<script src="{% static 'list/assets/web/assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'list/assets/popper/popper.min.js' %}"></script>
<script src="{% static 'list/assets/tether/tether.min.js' %}"></script>
<script src="{% static 'list/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'list/assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'list/assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
<script src="{% static 'list/assets/viewportchecker/jquery.viewportchecker.js' %}"></script>
<script src="{% static 'list/assets/datatables/jquery.data-tables.min.js' %}"></script>
<script src="{% static 'list/assets/datatables/data-tables.bootstrap4.min.js' %}"></script>
<script src="{% static 'list/assets/dropdown/js/script.min.js' %}"></script>
<script src="{% static 'list/assets/theme/js/script.js' %}"></script>


<input name="animation" type="hidden">