{% extends 'todo/base.html' %}

{% block title_name %}
    ToDo Home
{% endblock %}

{% block content %}

    <section class="section-table cid-rMmxrRGgav" id="table1-3">

  <div class="container container-table">
      <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-1">
          List Items</h2>
      
      <div class="table-wrapper">
        <div class="container scroll">
          <table class="table" cellspacing="0">
            <thead>
              <tr class="table-heads ">
                  <th class="head-item mbr-fonts-style display-7">TO_DO ITEM</th>
                  <th class="head-item mbr-fonts-style display-7">DATE CREATED</th>
                  <th class="head-item mbr-fonts-style display-7">ACTION</th>
              </tr>
            </thead>

            <tbody>
            {% for item in all_items %}
                <tr>
                    <td class="body-item mbr-fonts-style display-7"><strong>{{ item.item_content }}</strong></td>
                    <td class="body-item mbr-fonts-style display-7">{{ item.date_created }}</td>
                    <td class="body-item mbr-fonts-style display-7">
                        <form action="delete-item/{{ item.id }}" method="POST" class="mbr-form form-with-styler">
                            {% csrf_token %}
                            <div class="col-auto input-group-btn">
                                <button type="submit" class="btn btn-dark display-4">Delete</button>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 3rem">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">ADD NEW TO DO ITEM</h2>
            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 " data-form-type="formoid">
                <!---Formbuilder Form--->
                <form action="add-item" method="POST" class="mbr-form form-with-styler">
                    {% csrf_token %}
                    <div class="row">
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12"></div>
                    </div>
                    <div class="dragArea row">
                        <div class="form-group col" data-for="email">
                            <input type="text" name="content" placeholder="Enter item" required="required" class="form-control display-7" id="email-form3-6">
                        </div>
                        <div class="col-auto input-group-btn">
                            <button type="submit" class="btn btn-primary display-4">ADD</button>
                        </div>
                    </div>
                </form>
                <!---Formbuilder Form--->
            </div>
        </div>
    </div>
</section>
{% endblock %}
